<div class="card-header">
  <h2>Customers</h2>
  <input class="input-group-text" placeholder="filter by last name..."
         [(ngModel)]="filtertext" (input)="filter()">
  {{filtertext}}
</div>
<!--SHOW CUSTOMERS-->
<div class="card-body">
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col"><button class="btn btn-danger" [routerLink]="['/customers/create']">New Customer</button></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of filteredCustomers">
      <td>{{customer.id}}</td>
      <td>{{customer.firstname}}</td>
      <td>{{customer.lastname}}</td>
      <td class="btn-group" role="group">
        <button class="btn btn-primary" [routerLink]="['/customers/', customer.id]">View</button>
        <button class="btn btn-dark" [routerLink]="['/customers/', customer.id]">Edit</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
